/*google fonts*/

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* variable css*/
:root {
  --header-height: 4rem;
  /* Colors*/
  --first-color: #069c54;
  --title-color: #393939;
  --text-color: #707070;

  /* font family */
  --body-font: "Poppins", sans-serif;

  /*font weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* font size */
  --heading1: 4rem;
  --heading2: 3.6rem;
  --heading3: 2rem;

  /*margin*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
/* @media screen and (max-width: 768px){ */
@media screen and (max-width: 768px) {
  /* font size */
  :root {
    --heading1: 2.4rem;
    --heading2: 2rem;
    --heading3: 1rem;
  }
}

body {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: bold;
  color: black;
  background: linear-gradient(112.38deg, #ffffff 18.06%, #e1e1fc 98.3%);
  /* color:  red; */
}

/* BASE*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0px;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: 600;
  font-size: var(--heading1);
  line-height: 72px;
}

h2 {
  font-weight: 600;
  font-size: var(--heading2);
  line-height: 54px;
}

h3 {
  font-weight: 600;
  font-size: var(--heading3);
  line-height: 42px;
}
