.container {
  max-width: 1360px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
  margin: auto;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  padding: 0rem 1rem;
  background-color: #fff;
}

/* button */
.button {
  display: inline-block;
  background-color: rgb(34, 34, 150);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  margin-top: 2rem;
}

.button:hover {
  background-color: rebeccapurple;
}

.title {
  font-size: var(--heading1);
  margin-top: 1rem;
}

.subtitle {
  font-size: var(--heading2);
  margin-top: 1rem;
}

.about-description {
  font-size: var(--heading3);
  font-weight: var(--font-regular);
  line-height: 1.2em;
  margin-top: 2rem;
}

.section-subtitle {
  font-size: 1.2rem;
  color: var(--first-color);
  margin: 1rem 0rem;
}

/*home*/
.home__container {
  /* height: calc(100vh - var(--header-height)); */
  align-content: center;
  display: flex;
  margin-top: 2rem;
}
.home-title {
  font-size: var(--heading1);
  color: var(--first-color);
}
.home__data {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.home_img {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* about */
.about__container {
  /* height: calc(100vh - var(--header-height)); */
  align-content: center;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2rem;
}

.about__data {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2rem;
}
.about_img {
  justify-self: center;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* services */

.services {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services__container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  padding: 2rem 4rem;
}

.service-card {
  text-align: center;
}

.service-image {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.service-title {
  font-size: 1.5rem;
  line-height: 3rem;
}
.service-desciption {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

/* menu */

.menu {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu__container {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
}

.menu-card {
  border: 1px solid rgb(124, 161, 124);
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  border-radius: 3.5rem 0rem 3.5rem 0rem;
  box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
  padding: 0.75rem;
}

.menu-image {
  margin: auto;
}
.menu-title {
  font-size: 2rem;
}

.menu-subtitle {
  font-size: 1rem;
}

/* footer */

.footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__container {
  margin-top: 3rem;
  display: flex;
  gap: 5rem;
}
.footer__title {
  font-size: 2rem;
}
.footer__content ul li {
  font-size: 1.2rem;
  font-weight: 400;
}

.footer__copy {
  margin-top: 2rem;
  color: grey;
}

/* media qurey */

@media screen and (max-width: 760px) {
  .menu,
  .services {
    justify-content: center;
    align-items: center;
  }

  .home__container,
  .about__container,
  .services__container,
  .menu__container,
  .footer__container {
    align-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  .home__data,
  .home_img,
  .about__data,
  .about_img {
    width: 100%;
    align-items: center;
  }
  .homeImage,
  .aboutImage {
    width: 300px;
    height: 300px;
  }

  .footer {
    align-items: start;
    padding-left: 2rem;
  }
  .footer__container {
    gap: 1rem;
  }
  .footer__copy {
    font-size: 1rem;
    line-height: 1rem;
  }
}
